.HA_VERSION
home-assistant*
.storage/
automations.yaml
blueprints/
configuration.yaml
scenes.yaml
scripts.yaml
secrets.yaml

custom_components/hacs/
custom_components/lg_ess/__pycache__/
custom_components/lg_ess/coordinators/__pycache__/